In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn
from sklearn.cluster import KMeans, DBSCAN
from skimage import io
import os
import tqdm
from sklearn.preprocessing import MinMaxScaler
from collections import Counter

In [2]:
mask_off = pd.read_csv('data/tmp.csv').values
index_mask = np.vstack(np.where(mask_off)).T

In [3]:
x, y = index_mask[:, 0], index_mask[:, 1]

In [4]:
df_mask = pd.DataFrame(index_mask, columns = ['x', 'y'])
df_mask

            x     y
0         177  1518
1         177  1519
2         178  1517
3         178  1518
4         178  1519
...       ...   ...
6638901  4052  2708
6638902  4052  2709
6638903  4052  2710
6638904  4053  2708
6638905  4053  2709

[6638906 rows x 2 columns]

In [5]:
list_dir = os.listdir('data/')

In [6]:
num_data = ['KRA_RELIEF_ASPECT_100m.tif',
            'KRA_RELIEF_HEIGHT_100m.tif',
            'KRA_RELIEF_SLOPE_100m.tif',
            'KRA_SUNNY_DAYS_APR_OCT_100m.tif',
           'KRA_WATER_SEASONALYTY_100m.tif']

num_many_chanel_data = ['KRA_TAVG_100m.tif',
            'KRA_TMIN_100m.tif',
            'KRA_TMAX_100m.tif',
            'KRA_PREC_100m.tif']


path_to_save = 'to_save/'

path = 'data/'

In [7]:
for name in num_data:
    img_tmp = io.imread(path + name).astype(np.float64)
    name_for_write = name.split('.')[0]
    val = img_tmp[x,y]
    df_mask['val_' + name_for_write] = val

In [11]:
num_many_chanel_data = ['KRA_TAVG_100m.tif',
            'KRA_TMIN_100m.tif',
            'KRA_TMAX_100m.tif',
            'KRA_PREC_100m.tif']
for name in num_many_chanel_data:
    img_tmp_ = io.imread(path + name).astype(np.float32)
    name_for_write = name.split('.')[0]
    for chanel in range(img_tmp_.shape[2]):
        img_tmp = img_tmp_[:,:, chanel]
        val = img_tmp[x,y]
        df_mask['val_' + name_for_write + '_chanel_' + str(chanel)] = val

In [13]:
for name in cat_data:
    img_tmp = io.imread(path + name).astype(np.float32)
    name_for_write = name.split('.')[0]
    val = img_tmp[x,y]
    df_mask['val_' + name_for_write] = val

In [15]:
df_mask = pd.get_dummies(df_mask, columns = ['val_' + name_for_write])

In [20]:
df_mask.to_csv('to_save/to_cluster_data.csv')

In [26]:
df_mask.columns[2:]

Index(['val_KRA_RELIEF_ASPECT_100m', 'val_KRA_RELIEF_HEIGHT_100m',
       'val_KRA_RELIEF_SLOPE_100m', 'val_KRA_SUNNY_DAYS_APR_OCT_100m',
       'val_KRA_WATER_SEASONALYTY_100m', 'val_KRA_TAVG_100m_chanel_0',
       'val_KRA_TAVG_100m_chanel_1', 'val_KRA_TAVG_100m_chanel_2',
       'val_KRA_TAVG_100m_chanel_3', 'val_KRA_TAVG_100m_chanel_4',
       'val_KRA_TAVG_100m_chanel_5', 'val_KRA_TAVG_100m_chanel_6',
       'val_KRA_TAVG_100m_chanel_7', 'val_KRA_TAVG_100m_chanel_8',
       'val_KRA_TAVG_100m_chanel_9', 'val_KRA_TAVG_100m_chanel_10',
       'val_KRA_TAVG_100m_chanel_11', 'val_KRA_TMIN_100m_chanel_0',
       'val_KRA_TMIN_100m_chanel_1', 'val_KRA_TMIN_100m_chanel_2',
       'val_KRA_TMIN_100m_chanel_3', 'val_KRA_TMIN_100m_chanel_4',
       'val_KRA_TMIN_100m_chanel_5', 'val_KRA_TMIN_100m_chanel_6',
       'val_KRA_TMIN_100m_chanel_7', 'val_KRA_TMIN_100m_chanel_8',
       'val_KRA_TMIN_100m_chanel_9', 'val_KRA_TMIN_100m_chanel_10',
       'val_KRA_TMIN_100m_chanel_11', 'val_KRA_TMAX_100m_chanel_0',
       'val_KRA_TMAX_100m_chanel_1', 'val_KRA_TMAX_100m_chanel_2',
       'val_KRA_TMAX_100m_chanel_3', 'val_KRA_TMAX_100m_chanel_4',
       'val_KRA_TMAX_100m_chanel_5', 'val_KRA_TMAX_100m_chanel_6',
       'val_KRA_TMAX_100m_chanel_7', 'val_KRA_TMAX_100m_chanel_8',
       'val_KRA_TMAX_100m_chanel_9', 'val_KRA_TMAX_100m_chanel_10',
       'val_KRA_TMAX_100m_chanel_11', 'val_KRA_PREC_100m_chanel_0',
       'val_KRA_PREC_100m_chanel_1', 'val_KRA_PREC_100m_chanel_2',
       'val_KRA_PREC_100m_chanel_3', 'val_KRA_PREC_100m_chanel_4',
       'val_KRA_PREC_100m_chanel_5', 'val_KRA_PREC_100m_chanel_6',
       'val_KRA_PREC_100m_chanel_7', 'val_KRA_PREC_100m_chanel_8',
       'val_KRA_PREC_100m_chanel_9', 'val_KRA_PREC_100m_chanel_10',
       'val_KRA_PREC_100m_chanel_11', 'val_KRA_SOILTEXTURE_100m_0.0',
       'val_KRA_SOILTEXTURE_100m_1.0', 'val_KRA_SOILTEXTURE_100m_2.0',
       'val_KRA_SOILTEXTURE_100m_3.0', 'val_KRA_SOILTEXTURE_100m_4.0',
       'val_KRA_SOILTEXTURE_100m_5.0', 'val_KRA_SOILTEXTURE_100m_6.0',
       'val_KRA_SOILTEXTURE_100m_7.0', 'val_KRA_SOILTEXTURE_100m_8.0',
       'val_KRA_SOILTEXTURE_100m_9.0'],
      dtype='object')